.container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: -100px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px -1px;
  background-color: #fff;
  row-gap: 50px;
}

.content {
  margin-top: 12px;
  line-height: 1.6;
}

.back {
  display: inline-flex;
  align-self: flex-start;
  column-gap: 8px;
  margin-top: 35px;
  margin-top: 16px;

  .arrow {
    transition: transform 0.3s;
  }
  
  &:hover {
    transition: transform 0.3s;
    .arrow {
      transform: translateX(-25%);
    }
  }
}

.image { 
  object-fit: cover;
}