.container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.paginationWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}