.card {
  display: flex;
  height: 100%;
}

.actionArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 24px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 20px;
}

.image {
  object-fit: cover;
}

.readMoreWrapper {
  .arrow {
    color: #363636;
    width: 16px;
    height: 16px;
    transition: transform 0.3s;
  }
  
  &:hover {
    .arrow {
      transform: translateX(25%);
    }
  }
}
